<%- include("components/header")%>
    <a href="/" title="home">Home</a> &gt; Find
    <hr/>
    <form action="/gits/find" method="GET">
        <label for="email">Email: </label><input type="text" id="email" name="email"></input><input type="submit" value="Find"></input>
    </form>
    <hr/>
    <% if (git){ %>
        <table>
            <tr>
                <td><%= git.git %></td>
                <td><%= git.name %></td>
                <td><%= git.email %></td>
                <td><a href="/gits/edit?email=<%= git.email %>" title="Edit">Edit</a></td>
                <td><a href="/gits/remove?email=<%= git.email %>" title="Remove">Remove</a></td>
            </tr>
        </table>
    <% }%>
    <% if (error) { %>
        <h3><%= error %></h3>
    <% } %>
<%- include("components/footer")%>